<html>
    
    <div class="sidenav">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
        <form action="https://google.com">
            <input type="submit" value="Go to Google" />
        </form>
      </div>
    <div class = "main">
        <head>
            <h1>
                Hello There
            </h1>
        </head>
        
        <body>
            <h3>
                General Kenobis
            </h3>
            
        </body>
    </div>
</html>
